
svg {
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    user-select: none;
}

.vertical-cell-border {
    stroke:grey;
    stroke-width:0.5;
    stroke-dasharray: 10,10;
}

.horizontal-cell-border {
    stroke:grey;
    stroke-width:0.5;
    stroke-dasharray: 10,10;
}

.arrow {
    fill: none;
    stroke-width:2;
    stroke: black;
    pointer-events: all;
}
.arrow-highlight {
    fill: none;
    stroke: darkgrey;
    stroke-width:20;
    pointer-events: all;
}
.arrow-tip-highlight {
    fill: darkgrey;
    stroke: none;
    pointer-events: all;
}
.arrow-handle {
    fill: grey;
    stroke: none;
    pointer-events: all;
}
.arrow-handle:hover {
    fill: lightgrey;
    stroke: none;
    pointer-events: all;
}

.object-highlight {
    fill: darkgrey;
    stroke: none;
    pointer-events: all;
}
.object {
    color: black;
    text-align: center;
    /*NOTE: I have found no better way to align a <foreignObject> component than through manual adjustment.*/
    transform: translate(0px, -13px); 
}

.highlight-on-hover {
    visibility: hidden;
}
.highlight-on-hover:hover {
    visibility: visible;
}
.highlight-on-hover .object {
    visibility: visible;
}
.highlight-on-hover .arrow {
    visibility: visible;
}

.highlight-never {
    visibility: hidden;
}
.highlight-never .object {
    visibility: visible;
}
.highlight-never .arrow {
    visibility: visible;
}

.hitbox{
    opacity: 0;
}
